.container {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
    background-color: #f9f9f9;
}

h1 {
    font-size: 2.5em;
    color: #333;
    text-align: center;
    font-family: 'Times New Roman';
    margin-bottom: 20px;
}

p {
    font-size: 1.2em;
    line-height: 1.6;
    color: #666;
    text-align: center;
    border: 2px solid #ccc;
    padding: 15px;
    border-radius: 10px;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}


.button{
    display: flex;
    justify-content: center;
    gap: 10px;
}


button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}







